.user_page {
  height: 100vh;

  .user_head {
    height: 20vh;
    line-height: 20vh;
    text-align: center;

    .user_head_comm {
      width: 100%;
      height: 100%;
    }

    .user_head_text {
      font-weight: 600;
    }

    .user_head_detail {
      display: flex;
      align-content: space-around;
      padding: 0 30rpx;

      .user_head_left {
        flex: 7;
        display: flex;

        .user_head_pic_content {
          .user_head_pic {
            width: 160rpx;
            vertical-align: middle;
            border-radius: 10rpx;
          }
        }

        .user_name {
          font-size: 26rpx;
          margin-top: -10rpx;
          margin-left: 30rpx;

          view {
            height: 4vh;
            text-align: left;
          }
        }
      }

      .user_head_right {
        flex: 1;
      }
    }
  }


  .user_detail {
    display: flex;
    border-bottom: 1rpx solid gainsboro;
    border-top: 1rpx solid gainsboro;

    .user_ordering_li {
      padding: 20rpx;
      flex: 1;
      text-align: center;

      .user_ordering_icon {
        font-size: 40rpx;
        margin-bottom: 14rpx;
      }

      .user_ordering_font {
        font-size: 20rpx;
        color: rgb(97, 96, 96);
      }
    }

    .user_ordering_li:nth-child(-n+4) {
      border-right: 1rpx solid rgb(245, 241, 241);
    }
  }

  .user_ordering {
    .user_ordering_title {
      display: flex;
      justify-content: space-between;
      padding: 20rpx 30rpx;
      border-bottom: 1rpx solid gainsboro;
      font-size: 20rpx;

      .user_ordering_title1 {
        color: rgb(164, 161, 161);
      }

    }


    .user_ordering_body {
      display: flex;
      border-bottom: 1rpx solid gainsboro;

      .user_ordering_li {
        padding: 20rpx;
        flex: 1;
        text-align: center;

        .user_ordering_icon {
          font-size: 40rpx;
          margin-bottom: 14rpx;
        }

        .user_ordering_font {
          font-size: 20rpx;
          color: rgb(97, 96, 96);
        }
      }

      .user_ordering_li:nth-child(-n+4) {
        border-right: 1rpx solid rgb(245, 241, 241);
      }
    }
  }

  .user_shouhuo_manage {
    font-size: 28rpx;
    padding: 30rpx;
    border-bottom: 1rpx solid gainsboro;
  }

  .user_other {
    margin-top: 37rpx;

    .user_other_title {
      padding: 30rpx 30rpx;
      color: rgb(97, 96, 96);
      border-bottom: 1rpx solid gainsboro;
    }

    .user_other_li {
      padding: 20rpx 30rpx;
      border-bottom: 1rpx solid gainsboro;
    }
  }
  .a:active{
    background-color: rgb(223, 222, 220);
  }
}